streamlit==1.32.0
langchain>=0.1.13
langchain-core>=0.1.40
langchain-groq>=0.1.0
langchain-community>=0.0.29
langchain-huggingface>=0.0.1
chromadb>=0.4.24
sentence-transformers>=2.6.1
pandas==2.2.1
gdown==5.1.0